h1 
{
    text-align:center;
    color: red;
    background-color: white;
    font-size: 4em; 
} 
div#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 350px;
    width: 250px;
    margin-left: 50%;
    left: -120px;
    position: relative
}
div#container div
{
height: 75px;
width: 75px;px;
border: 2px solid black;
color:black;
}

div#description {
    text-align: center;
    padding-bottom: 25px;
}